{
  "prettier/prettier": [
    "error",
    {
      "singleQuote": true,
      "parser": "flow",
      "trailingComma": "es5",
      "tabWidth": 2,
      "arrowParens": "always",
      "jsxSingleQuote": false,
      "endOfLine": "auto"
    }
  ],
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "endOfLine": "auto"
}
